/* General setup */

@font-face {
    font-family: 'josefin_sansregular';
    src: url('josefinsans-regular-webfont.woff2') format('woff2'),
         url('josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neoretrodrawregular';
    src: url('neord___-webfont.woff2') format('woff2'),
         url('neord___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    font-size: 10px;
    margin: 0;
    font-family: sans-serif;
  }
  
  body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    font-family: josefin_sansregular;
  }
  
  /* Typography */
  
  h1 {
    font-size: 3.2rem;
    font-family: neoretrodrawregular;
  }
  
  h2 {
    font-size: 2.4rem;
    font-family: neoretrodrawregular;
  }
  
  p {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
  }